

.body-image {
    position: relative;
     
  }
  
  .body-image svg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    /* height: auto; */
  }
  
  .layers {
    transition: all 0.3s ease;
  }
  
  .layers:hover {
    fill: #83b7d6;
    opacity:1
    /* transform: scale(1.2); */
  }
  .layers{
  
      cursor: pointer;
      opacity: 0;
  
      fill: #83b7d6;
  }
  